Package: com.zhenguwu.aurore
Name: Aurore
Depends: mobilesubstrate, ws.hbang.common (>= 1.15.1)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Revamped iOS Alarms
Maintainer: Michael Wu
Author: Michael Wu
Section: Tweaks