Package: com.zhenguwu.aurore
Name: Aurore
Depends: mobilesubstrate, com.cokepokes.libnotifications, ws.hbang.alderis
Version: 1.0.2
Architecture: iphoneos-arm
Description: Musical iOS Alarms
Maintainer: zhenguwu
Author: zhenguwu
Section: Tweaks