<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Aurore Settings</string>
			<key>footerText</key>
			<string>All settings should apply without a respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Passcode Setup</string>
			<key>detail</key>
			<string>AURPasscodeController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Default Alarm Options</string>
			<key>detail</key>
			<string>AURDefaultsController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Interface Customization</string>
			<key>detail</key>
			<string>AURInterfaceController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Clock App Settings</string>
			<key>detail</key>
			<string>AURClockController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
			<key>detail</key>
			<string>AURMiscellaneousController</string>
			<key>isController</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
			<key>footerText</key>
			<string>Resetting will erase and reset all of the tweak's preferences to stock. (NOT IMPLEMENTED YET)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset All Settings</string>
			<key>action</key>
			<string>reset</string>
		</dict>
		
	</array>
	<key>title</key>
	<string>Aurore</string>
</dict>
</plist>
